# About the data
The dataset comes from an e-commerce platform and contains information about product listings. Each row in the dataset represents a single product listing. The dataset consists of 464,433 rows and 12 columns, described as follows:

1. itemid: Unique identifier for each product listing.
2. shopid: Unique identifier for each shop.
3. item_name: Title of the product.
4. item_description: Detailed description of the product.
5. item_variation: Information about product variations (e.g., color, size) in the format {variation name: variation price}.
6. price: Price of the product.
7. stock: Quantity of the product currently available in stock.
8. category: Category to which the product belongs.
9. cb_option: Indicates whether the product is sold by a cross-border shop (1 = Yes, 0 = No).
10. is_preferred: Indicates whether the product is sold by a preferred shop (1 = Yes, 0 = No).
11. sold_count: Total number of units sold for the product.
12. item_creation_date: Date the product listing was uploaded to the platform.oduct uploaded by the seller

# Opening libraries
We will choose the packages that will help us on our analysis and open them. We will use the following packages for our analysis:
1. Pandas
2. Nump
3. Datetime

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

# Importing datasets
We will upload the dataset that will be the focus of our analysis and also perform some datatype transformation to itemid, shopid, cb_option and is_preferred for ease of analysis.

In [43]:
df = pd.read_excel('project_data.xlsx', 
                   sheet_name = 'listing_data', 
                   dtype = {'itemid': str, 'shopid':str,
                            'cb_option':str, 'is_preferred':str})

# Preview our datasets
We will preview our data frame (first five rows) and check the summary of each column.

In [90]:
display(df.head(5))

df.info()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464433 entries, 0 to 464432
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   itemid              464433 non-null  object
 1   shopid              464433 non-null  object
 2   item_name           464409 non-null  object
 3   item_description    463336 non-null  object
 4   item_variation      464433 non-null  object
 5   price               464433 non-null  float64
 6   stock               464433 non-null  int64
 7   category            464422 non-null  object
 8   cb_option           464433 non-null  object
 9   is_preferred        464433 non-null  object
 10  sold_count          464433 non-null  int64
 11  item_creation_date  464433 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 42.5+ MB

# Questions to answer with the analysis

### 1. How many unique shops are in the dataset?

In [78]:
len(df['shopid'].unique())

7856

### 2. How many unique preferred and cross border shops are in the dataset?

In [100]:
len(df[(df.cb_option=='1') & (df.is_preferred=='1')]['shopid'].unique())

158

### 3. How many products have zero sold count?

In [94]:
len(df[(df.sold_count==0)]['itemid'].unique())

438092

### 4. How many products were created in the year 2018?

In [114]:
df['year'] = [i.strftime("%Y") for i in df['item_creation_date']]

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016

In [112]:
len(df[(df.year=='2018')]['itemid'].unique())

177407

### 5. Show Top 3 Preferred shops’ shopid that have the largest number of unique products

In [119]:
df[df['is_preferred']=='1'].groupby(['shopid'])['itemid'].nunique().sort_values(ascending = False)[0:3]

shopid
43384791    2034
6072241     1998
26974701    1037
Name: itemid, dtype: int64

### 6. Show Top 3 Categories that have the largest number of unique cross-border products

In [121]:
df[df['cb_option']=='1'].groupby(['category'])['itemid'].nunique().sort_values(ascending = False)[0:3]

category
Women's Apparel     80494
Mobile & Gadgets    58760
Men's Wear          51795
Name: itemid, dtype: int64

### 7. Find Top 3 shopid with the highest revenue (Assumption: the product price has not been changed).

In [125]:
df['revenue'] = df['price']*df['sold_count']

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0

In [127]:
df.groupby(['shopid'])['revenue'].sum().sort_values(ascending = False)[0:3]

shopid
18796234    177897.79
30769353     63491.39
30628794     39852.00
Name: revenue, dtype: float64

### 8. Find number of products that have more than 3 variations (do not include products with 3 or fewer variations).

In [144]:
df['variation_count']= [i.count(':') for i in df['item_variation']]
display(df.head(5))
display(df[df['variation_count']>3]['itemid'].count())

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6

242150

### 9. Identify duplicated listings within each shop.

In [148]:
df['listing_details']= df['item_name'].astype(str) + df['item_description'].astype(str) + df['price'].astype(str)

df.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...

In [168]:
shopid_listing_count = df.groupby(['listing_details'])['shopid'].count().reset_index()

In [170]:
shopid_listing_count.head(5)

                                     listing_details  shopid
0    \t Bandage Bodycon Skirt No meet up Size XS25.0       2
1               Fashion Women Shoulder Bag Satche...       1
2               Fashion Women Shoulder Bag Satche...       1
3               Fashion Women Shoulder Bag Satche...       1
4          BOTTOM HIGH WAIST CLASSICColor: BLACK ...       1

In [174]:
duplicated_listing = shopid_listing_count[shopid_listing_count.shopid>1]

In [176]:
duplicated_listing.head(5)

                                      listing_details  shopid
0     \t Bandage Bodycon Skirt No meet up Size XS25.0       2
12       New Women Handbag ShoulderFeature:    100...       2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...       2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...       2
16     Mens canvas Sport  Sneakers Recreational Ca...       3

In [178]:
duplicated_listing.columns = ['listing_details','shopid_count']

In [180]:
duplicated_listing.head(5)

                                      listing_details  shopid_count
0     \t Bandage Bodycon Skirt No meet up Size XS25.0             2
12       New Women Handbag ShoulderFeature:    100...             2
13     Fashion Handbag Lady Shoulder Bag Tote Purs...             2
14     LVPAI  Vente chaude De Mode De Luxe  Femmes...             2
16     Mens canvas Sport  Sneakers Recreational Ca...             3

### 10. Mark those duplicated listings with True otherwise False and store the marking result in a new column named “is_duplicated”.

In [185]:
df_merged = pd.merge(df,duplicated_listing, on = 'listing_details', how = 'left')

df_merged.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN

In [189]:
df_merged['is_duplicated'] = [True if not pd.isnull(i) else False for i in df_merged['shopid_count']]

In [193]:
df_merged.head(5)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,year,revenue,variation_count,listing_details,shopid_count,is_duplicated
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN,False
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,2015,0.0,0,Golden mobile numbersUnregistered prepaid card...,NaN,False
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN,False
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,2015,0.0,0,Golden Mobile NumbersUnregistered prepaid card...,NaN,False
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,2016,0.0,6,101% AUTHENTIC BASEBALL CAPSPREORDER Takes abo...,NaN,False

### 11. Find duplicate listings that has less than 2 sold count and store the result in a new excel file named “duplicated_listings.xlsx”.

In [205]:
duplicated_listings = df_merged[(df_merged['is_duplicated']) & (df_merged['sold_count']<2)]

In [209]:
duplicated_listing.to_excel('../data_analysis_python/duplicated_listing.xlsx', index = False)

### 12. Find the preferred shop shopid that have the most number of duplicated listings.

In [216]:
df_merged[df_merged['is_preferred']=='1'].groupby(['shopid'])['is_duplicated'].count().sort_values(ascending = False)

shopid
43384791    2034
6072241     1998
26974701    1037
4498082      887
37983742     677
            ...
2628503        2
26213989       2
25547805       2
4523728        2
10021          2
Name: is_duplicated, Length: 533, dtype: int64